@using Muse3.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.PageType = "NoHero";
}

<main aria-labelledby="title">
    <section id="loginForm">
        <div id="login-container">
            <img id="login-muse-logo" src="~/Images/museV3Logo.png" alt="Muse Logo" />
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                <form id="form-login" class="form" action="">
                    @Html.AntiForgeryToken()
                    <div class="form-container">
                        <div>
                            @Html.ValidationSummary(true, "", new { @class = "invalid" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "invalid" })
                        </div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-email-password-input", placeholder = "Email" })
                        <br />
                        <div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "invalid" })
                        </div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-email-password-input", placeholder = "Password" })
                        <br />
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div>
                            <input id="submit" type="submit" value="Log in" class="btn bg-purple fw-semibold" />
                        </div>
                    </div>
                </form>
                <br />
                <div class="footer-buttons-container">
                    @Html.ActionLink("Sign Up", "Register", new { @class = "footer-buttons" })
                    @Html.ActionLink("Forgot Password", "Register", "Account", new { @class = "mx-2 footer-buttons" })
                </div>
                <br>
                <br>
            }
            </div>
    </section>
</main>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}