@model Muse3.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    ViewBag.PageType = "NoHero";
}
<main aria-labelledby="title">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
    {
        <div id="login-container">
            <img id="login-muse-logo" src="~/Images/museV3Logo.png" alt="Muse Logo" style="width: 600px; height: 250px;" />
            <form id="form-login" class="form" action="">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Code)
                <br />
                <br />
                <br />
                <div class="row mt-5 pt-5">
                    <div class="row">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control mx-5 form-email-password-input", placeholder = "Email" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control mx-5 form-email-password-input mt-4", placeholder = "Password" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control mx-5 form-email-password-input mt-4", placeholder = "Confirm Password" })
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="offset-md-2 col-md-10 mt-3">
                            <input type="submit" class="btn bg-purple fw-semibold px-5" style="margin-right: 50px !important;" value="Reset" />
                        </div> 
                        <div class="footer-buttons-container mt-3 d-flex gap-4 justify-content-center">
                            @Html.ActionLink("Sign Up", "Register", new { @class = "footer-buttons" })
                            @Html.ActionLink("Login", "Login", new { @class = "footer-buttons" })
                        </div>
                    </div>
                </div>
            </form>
            <br>
        </div>
    }
</main>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
