@model DataObjects.Song

@{
    ViewBag.Title = "Details";
}

@*delete modal*@
<div class="modal text-light" id="delete-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5>Are you sure you want to delete @Model.Title?</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Song", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@Model.SongID" />
                    <div class="form-actions">
                        <input id="confirm-delete-button" type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="mx-5 my-4 d-flex justify-content-between">
    <div class="d-flex justify-content-between">
        <div>
            @*https://micku7zu.github.io/vanilla-tilt.js/*@
            <div class="your-element" data-tilt>
                <img onclick="openFileDialog()" id="album-img-edit" src="/MuseConfig/AlbumArt/@Path.GetFileName(@Model.ImageFilePath)" alt="Album art">
            </div>
            <p class="mt-2">Added: @Model.DateAdded.Date.ToShortDateString()</p>
            <div>
                @Html.ActionLink("Back to Library", "Library")
            </div>
        </div>
        <div class="fs-3 px-5 mt-4">
            <p class="text-nowrap">
                @Model.Title
                @if (Model.Explicit == true)
                {
                    <img class="explicit-white" src="~/Images/explicit.png" />
                }
            </p>
            @if (Model.Album.Length.Equals(0))
            {
                <p>Album: Unknown</p>
            }
            else
            {
                <p>
                    <a class="mt-4" href="@Url.Action("DetailsFromArtistAndTitle", "Album", new { albumTitle = Model.Album, artistID = Model.Artist})">
                        Album: @Model.Album
                    </a>
                </p>
            }
            @if (Model.Artist.Length.Equals(0))
            {
                <p>Artist: Unknown</p>
            }
            else
            {
                <p>
                    <a class="mt-4" href="@Url.Action("Details", "Artist", new { id = Model.Artist})">
                        Artist: @Model.Artist
                    </a>
                </p>
            }
            <p>Year Released: @Html.DisplayFor(model => model.YearReleased)</p>
            @if (Model.Genre.Length.Equals(0))
            {
                <p>Genre: None</p>
            }
            else
            {
                <p>Genre: @Html.DisplayFor(model => model.Genre)</p>
            }
        </div>
        <div class="fs-3 px-5 mt-4">
            @if (Model.Plays.Equals(0))
            {
                <p>No plays</p>
            }
            else if (Model.Plays.Equals(1))
            {
                <p>1 play</p>
            }
            else
            {
                <p> 
                    @Html.DisplayFor(model => model.Plays) plays
                </p>
            }
            <br />
            

            <p class="text-nowrap">
                <a class="mt-4" href="@Url.Action("CreateWithSongProvided", "Review", new { songID = Model.SongID })">
                    Write a Review .
                </a>
                @Html.ActionLink("Edit", "Edit", new { id = Model.SongID }) .
                <button class="delete-button fw-semibold text-danger"
                        style="border: none; color: white; background-color: transparent; font-size: 30px;"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-modal">
                    Delete
                </button>
            </p>
        </div>
        <div>
            <textarea readonly="readonly" style="height: 600px;" id="lyrics">@Model.Lyrics</textarea>
        </div>
    </div>
</div>
