@model DataObjects.Song

@{
    ViewBag.Title = "Details";
}
@*test*@
<div class="mx-5 my-4 d-flex justify-content-between">
    <div class="d-flex justify-content-between">
        <div>
            <img id="album-img-edit" src="/Images/@Path.GetFileName(@Model.ImageFilePath)" alt="Album art for @Html.DisplayNameFor(model => model.Title) by @Html.DisplayNameFor(model => model.Artist)">
        </div>
        <div class="fs-5 px-5 mt-4">
            <p>@Model.Title<img style="filter: invert(100%); padding-left: 4px; width: 20px; height: 16px" src="~/Images/explicit.png" /> by @Html.DisplayFor(model => model.Artist)</p>
            <p>@Html.DisplayFor(model => model.Album)</p>
            <p>@Html.DisplayFor(model => model.Artist)</p>
            <p>@Html.DisplayFor(model => model.YearReleased)</p>
            <p>@Html.DisplayFor(model => model.Genre)</p>
        </div>
        <div class="fs-5 px-5 mt-4">
            <p>
                @Html.DisplayFor(model => model.Plays) plays
            </p>
            <p>Added: @Model.DateAdded.Date.ToShortDateString()</p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.SongID }) .
                @Html.ActionLink("Delete", "Delete", new { id = Model.SongID }) . 
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
    <div style="width: 30rem; height: 200px;">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Lyrics
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        @Html.DisplayFor(model => model.Lyrics)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

