﻿@model IEnumerable<DataObjects.Song>

@{
    ViewBag.Title = "Library";
    int charLimit = 20;
    var mp3FilePath = "";
    string songID = "";
    List<DataObjects.Song> songs = new List<DataObjects.Song>();

    foreach (var item in Model)
    {

        songs.Add(item);
    }
}
<div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for song...">    
    <button onclick="listView()">listView</button>
    <button onclick="gridView()">gridView</button>
</div>


@*list view*@
<div id="library-list-view" style="display: none;">
    <table class="table bg-dark text-white">
        <tr>
            <th>
                <p class="text-nowrap">Album Art</p> 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Album)
            </th>
            <th>
                <p class="text-nowrap">Year Released</p>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plays)
            </th>
            <th>
                <p class="text-nowrap">Date Added</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img id="album-img" class="album-img list-album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(item.ImageFilePath)" alt="Album art" data-songid="@item.SongID">
                    <button id="library-play-button" class="library-play-button list-view-library-play-button">
                        <img id="library-play-img" src="~/Images/play.png" />
                    </button><br />
                    <audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(item.Mp3FilePath)" data-audio-songid="@item.SongID"></audio>
                </td>
                <td>
                    <p style="white-space: nowrap;">@Html.DisplayFor(modelItem => item.Title)<img style="filter: invert(100%); padding-left: 4px; width: 20px; height: 16px" src="~/Images/explicit.png" /></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Album)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearReleased)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plays)
                </td>
                <td>
                    @item.DateAdded.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Remove", "Delete", new { id = item.SongID })
                </td>
            </tr>
        }
    </table>
</div>

@*grid view*@
<audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(mp3FilePath) data-audio-songid="@songID"></audio>
<div id="library-grid-view" class="row mx-5 row-cols- lg-10">
    @foreach (var item in Model)
    {
        <div id="library-cards-container" class="col my-4 inline w-auto">
            <div id="image-container" class="image-container" data-image-songID="@item.SongID">
                <img id="album-img" class="album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(item.ImageFilePath)" alt="Album art for @Html.DisplayNameFor(model => model.Title) by @Html.DisplayNameFor(model => model.Artist)" data-songid="@item.SongID">
                <button id="library-play-button" class="library-play-button">
                    <img src="~/Images/play.png" />
                </button><br />
                <audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(item.Mp3FilePath)" data-audio-songid="@item.SongID"></audio>
                <br />
            </div>
            <div class="mx-5 song-info-div">
                <br>
                <div class="d-inline-block" style="white-space: nowrap!important; font-size: 30px;">
                    <p>
                        @{
                            string title = item.Title.Length >= charLimit ? item.Title.Substring(0, charLimit) + "..." : item.Title;
                            string album = item.Album.Length >= charLimit ? item.Album.Substring(0, charLimit) + "..." : item.Album;
                            string artist = item.Artist.Length >= charLimit ? item.Artist.Substring(0, charLimit) + "..." : item.Artist;
                        }
                        @title<img style="filter: invert(100%); padding-left: 4px; width: 20px; height: 16px" src="~/Images/explicit.png" />
                    </p>
                    <p>@album</p>
                    <p>@artist</p>
                </div>
            </div>
        </div>
    }
</div>
