@model Muse3.Controllers.ArtistDetailsViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Hero = Model.artist.ArtistID;
    int charLimit = 30;
}

<div class="px-3">
    <div class="d-flex">
        <a href="@Url.Action("Details", "Artist", new { id = @Model.artist.ArtistID })">
            <img style="width: 200px; height: 200px; border-radius: 50px;" src="@Url.Action("GetArtistPhoto", "Helper", new { @Model.artist.ArtistID })" alt="Photo of @Model.artist.ArtistID." />
            @*<img class="artist-img" src="~/MuseConfig/ProfileImages/@item.ImageFilePath" alt="Photo of @item.ArtistID" />*@
        </a>
        <div class="px-3 fw-bolder">
            <h2 class="fw-semibold">@Model.artist.ArtistID</h2>
            <br class="fw-light"/>
            <h4 class="fw-semibold">Birth Name: @Model.artist.FirstName @Model.artist.LastName</h4>
            <h4 class="fw-semibold">Born: @Model.artist.DateOfBirth.Value.ToShortDateString()</h4>
            <h4 class="fw-semibold">@Model.artist.Description</h4>
        </div>
    </div>

    <div class="mt-3">
        <button class="btn-generic" onclick="showAlbums()">
            Albums
        </button>
        <button class="btn-generic" onclick="showSongs()">
            Songs
        </button>
    </div>

    @*albums*@
    <div id="album-view" class="row mr-5 row-cols- lg-10">
        @if (Model.albums.Count() > 0)
        {
            <h1 class="pt-3 fw-semibold">Albums</h1>
        }
        @foreach (var album in Model.albums)
        {
            <div id="library-cards-container" class="col my-4 inline w-auto">
                <a onclick="window.location.href='@Url.Action("Details", "Album", new { id = album.AlbumID })'">
                    <img id="album-img" class="album-img" src="@Url.Action("GetAlbumPhoto", "Helper", new { album.AlbumID })" alt="Album art for @album.Title by @album.ArtistID" />
                    @*<img id="album-img" class="album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(album.ImageFilePath)" alt="Album art for @album.Title by @album.ArtistID" />*@
                </a>
                <div class="mx-5 song-info-div">
                    <br>
                    <div class="d-inline-block text-nowrap" style="font-size: 30px;">
                        <p class="text-nowrap">
                            @album.Title
                        </p>
                        <p class="text-nowrap">
                            @album.ArtistID
                        </p>
                        <p class="text-nowrap">
                            @album.YearReleased
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="song-header-container">
        <div class="d-flex pt-3">
            <h1 class="pt-3 fw-semibold">Songs</h1>
            <input id="searchBox" class="mx-3 px-3 mt-3" type="text" placeholder="Search for song...">
            <img onclick="searchForSong()" class="icon px-3 pt-3" src="~/Images/search.svg" />
        </div>
    </div>

    @*songs*@
    <div class="mt-2">
        <table id="table-playlist-songs" class="table text-white bg-dark-transparent">
            <tr class="text-nowrap fw-bold">
                <th>
                    Album Art
                </th>
                <th>
                    Title
                </th>
                <th>
                    Album
                </th>
                <th>
                    Year Released
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Plays
                </th>
            </tr>
            @foreach (var song in Model.songs)
            {
                <tr class="playlist-table">
                    <td class="playlist-table-border">
                        <img id="album-img" class="album-img list-album-img" src="@Url.Action("GetSongPhoto", "Helper", new { song.SongID })" alt="Album art" data-songid="@song.SongID">
                        @*<img id="album-img" class="album-img list-album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(song.ImageFilePath)" alt="Album art" data-songid="@song.SongID">*@
                        <button id="library-play-button" class="library-play-button list-view-library-play-button">
                            <img id="library-play-img" src="~/Images/play.png" />
                        </button><br />
                        <audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(song.Mp3FilePath)" data-audio-songid="@song.SongID"></audio>
                    </td>
                    @{
                        string title = song.Title.Length >= charLimit ? song.Title.Substring(0, charLimit) + "..." : song.Title;
                        string album = song.Album.Length >= charLimit ? song.Album.Substring(0, charLimit) + "..." : song.Album;
                        string artist = song.Artist.Length >= charLimit ? song.Artist.Substring(0, charLimit) + "..." : song.Artist;
                    }
                    <td class="playlist-table-border pt-4 fs-4 text-nowrap">
                        <p class="text-nowrap">
                            <a href="@Url.Action("Details", "Song", new { id = song.SongID })">
                                @title <img class="explicit-white" src="~/Images/explicit.png" />
                            </a>
                        </p>
                    </td>
                    <td class="playlist-table-border pt-4 fs-4 text-nowrap">
                        <a href="@Url.Action("Details", "Album", new { albumTitle = song.Album, artistID = song.Artist })">
                            @album
                        </a>
                    </td>
                    <td class="playlist-table-border pt-4 fs-4 text-nowrap">
                        @song.YearReleased
                    </td>
                    <td class="playlist-table-border pt-4 fs-4 text-nowrap">
                        @song.Genre
                    </td>
                    <td class="playlist-table-border pt-4 fs-4 text-nowrap">
                        @song.Plays
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="pt-5"></div>
<script>
    function searchForSong() {
        var title = document.getElementById("searchBox").value.trim().toLowerCase();
        var libraryURL = '@Url.Action("Details", "Artist")' + '?searchText=' + encodeURIComponent(title);
        window.location.href = libraryURL;
    };
    function showAlbums() {
        document.querySelector('#table-playlist-songs').style.display = 'none';
        document.querySelector('#album-view').style.display = 'flex';
        document.querySelector('#song-header-container').style.display = 'none';
    }
    function showSongs() {
        document.querySelector('#album-view').style.display = 'none';
        document.querySelector('#table-playlist-songs').style.display = 'table';
        document.querySelector('#song-header-container').style.display = 'block';
    }
</script>



