@model Muse3.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
    ViewBag.PageType = "NoHero";
}
<div>
    <dl class="dl-horizontal bg-dark p-5 mt-5 fs-3 br-10">
        <h1 class="pb-3 text-decoration-underline">@Model.GivenName @Model.FamilyName</h1>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.Email)/UserName:
            </dt>
            <dd class="mx-3">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed):
            </dt>
            <dd class="mx-3">
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.PasswordHash) :
            </dt>
            <dd class="mx-3">
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.SecurityStamp):
            </dt>

            <dd class="mx-3">
                @Html.DisplayFor(model => model.SecurityStamp)
            </dd>
        </div>
        @*<div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed):
            </dt>

            <dd class="mx-3">
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled):
            </dt>
            <dd class="mx-3">
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc):
            </dt>
            <dd class="mx-3">
                @Html.DisplayFor(model => model.LockoutEndDateUtc)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.LockoutEnabled):
            </dt>
            <dd class="mx-3">
                @Html.DisplayFor(model => model.LockoutEnabled)
            </dd>
        </div>
        <div class="d-flex">
            <dt>
                @Html.DisplayNameFor(model => model.AccessFailedCount):
            </dt>
            <dd class="mx-3">
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>
        </div>*@
        <div>
            <dt>
                Assigned Roles:
            </dt>

            <dd>
                <ul>
                    @foreach (string r in ViewBag.Roles)
                    {
                        <li>
                            <strong>
                                @r @Html.ActionLink("Remove Role", "RemoveRole", new { Id = Model.Id, Role = r })
                            </strong>
                        </li>
                    }
                </ul>
            </dd>

            <dt>
                Unassigned Roles:
            </dt>

            <dd>
                <ul>
                    @foreach (string r in ViewBag.NoRoles)
                    {
                        <li>
                            <strong>
                                @r @Html.ActionLink("Add Role", "AddRole", new { Id = Model.Id, Role = r })
                            </strong>
                            @if (r == "Admin")
                            {
                                <span class="text-danger, fw-bold"></span>
                            }
                        </li>
                    }
                </ul>
            </dd>
        </div>
        <p class="mt-3">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </dl>
</div>
