@model IEnumerable<DataObjects.User>

@{
    ViewBag.Title = "ViewAllUsers";
}

<h2>All Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table bg-dark text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinutesListened)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img style="width: 100px; height: 100px; border-radius: 50px;" src="~/MuseConfig/ProfileImages/@Path.GetFileName(item.ImageFilePath)" alt="Image of @item.ProfileName" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinutesListened)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Email }) |
            @Html.ActionLink("Details", "Details", new { id = item.Email }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Email })
        </td>
    </tr>
}

</table>
