@model IEnumerable<DataObjects.Album>

@{
    ViewBag.Title = "Albums";
}

@*delete modal*@
<div class="modal text-light" id="delete-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title delete-message" id="modal-title"></h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Album", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="delete-album-id" name="id" value="" />

                    <div class="form-actions">
                        <input id="confirm-delete-button" type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<button class="btn-add">
    @Html.ActionLink("Add Album", "Create")
</button>

<table class="table text-light">
    <tr>
        <th>
            <p>@Html.DisplayNameFor(model => model.ImageFilePath)</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistID)
        </th>
        <th>
            Details
        </th>
    </tr>
    @foreach (var album in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Album", new { id = album.AlbumID })">
                    <img src="/MuseConfig/AlbumArt/@Path.GetFileName(album.ImageFilePath)" alt="Album art for @album.Title">
                </a>
            </td>
            <td>
                <p class="mt-4">@Html.ActionLink(album.Title, "Details", new { id = album.AlbumID })</p>
            </td>
            <td>
                <p class="mt-4">
                    <a class="mt-4" href="@Url.Action("Details", "Artist", new { id = album.ArtistID })">
                        @album.ArtistID
                    </a>
                </p>
            </td>
            <td>
                <p class="mt-4">
                    <button class="delete-button fw-bold text-danger"
                            style="border: none; color: white; background-color: transparent; font-size: 20px;"
                            data-bs-toggle="modal"
                            data-bs-target="#delete-modal"
                            data-album-id="@album.AlbumID"
                            data-album-name="@album.Title">
                        Delete
                    </button>
                </p>
            </td>
        </tr>
    }

</table>

<script>
    var deleteButtons = document.querySelectorAll('.delete-button');

    // add a click event to all delete buttons
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var deleteMessage = document.querySelector('.delete-message');
            var albumName = button.getAttribute('data-album-name');
            var albumID = document.getElementById('delete-album-id');
            albumID.value = button.getAttribute('data-album-id');
            deleteMessage.textContent = "Are you sure you want to delete " + albumName + "?";
        });
    });
</script>
