@model IEnumerable<DataObjects.Album>

@{
    ViewBag.Title = "Albums";
}

@*Album delete modal*@
<div class="modal text-light" id="delete-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title delete-message" id="modal-title"></h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Album", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="delete-album-id" name="id" value="" />

                    <div class="form-actions">
                        <input id="confirm-delete-button" type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="d-flex pt-3">
    <button class="btn-add">
        @Html.ActionLink("Add Album", "Create")
    </button>
    <input id="searchBox" type="text" placeholder="Search for album...">
    <img onclick="searchForAlbum()" class="icon px-3" src="~/Images/search.svg" />
</div>


@*card view*@
<div id="library-grid-view" class="row row-cols- lg-10 gap-4">
    @foreach (var album in Model)
    {
    <div class="card album-card" style="width: 18rem; 
                                        height: 18rem; 
                                        background-image: url('@Url.Action("GetAlbumPhoto", "Helper", new { album.AlbumID })'); "
         onclick="window.location.href='@Url.Action("Details", "Album", new { id = album.AlbumID })'">  
        
        @*used as spacer*@
        <a style="display: block; width: 100%; height: 100%;">
        </a>
        <div class="card-body">
            <h5 class="card-title h3 fw-bold text-dark">@album.Title</h5>
            <p class="card-text fw-bold h5 text-dark">@album.ArtistID</p>
        </div>
    </div>
    }
</div>







    @*table view*@

    @*<table class="table text-light">
            <tr>
                <th>
                    <p>@Html.DisplayNameFor(model => model.ImageFilePath)</p>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtistID)
                </th>
                <th>
                    Details
                </th>
            </tr>
            @foreach (var album in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Album", new { id = album.AlbumID })">
                            <img src="@Url.Action("GetAlbumPhoto", "Helper", new { album.AlbumID })" alt="Art for @album.Title by @album.ArtistID." />
                        </a>
                    </td>
                    <td>
                        <p class="mt-4">@Html.ActionLink(album.Title, "Details", new { albumTitle = album.Title,  artistID = album.ArtistID })</p>
                    </td>
                    <td>
                        <p class="mt-4">
                            <a class="mt-4" href="@Url.Action("Details", "Artist", new { id = album.ArtistID })">
                                @album.ArtistID
                            </a>
                        </p>
                    </td>
                    <td>
                        <p class="mt-4">
                            <button class="delete-button fw-bold text-danger text-danger bg-transparent border-0"
                                    data-bs-toggle="modal"
                                    data-bs-target="#delete-modal"
                                    data-album-id="@album.AlbumID"
                                    data-album-name="@album.Title">
                                Delete
                            </button>
                        </p>
                    </td>
                </tr>
            }

        </table>*@

    <script>
    var deleteButtons = document.querySelectorAll('.delete-button');

    // add a click event to all delete buttons
    deleteButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var deleteMessage = document.querySelector('.delete-message');
            var albumName = button.getAttribute('data-album-name');
            var albumID = document.getElementById('delete-album-id');
            albumID.value = button.getAttribute('data-album-id');
            deleteMessage.textContent = "Are you sure you want to delete " + albumName + "?";
        });
    });

    function searchForAlbum() {
        var title = document.getElementById("searchBox").value.trim().toLowerCase();
        var albumURL = '@Url.Action("Albums", "Album")' + '?searchText=' + encodeURIComponent(title);
        window.location.href = albumURL;
    };
    </script>
