@model IEnumerable<DataObjects.Album>

@{
    ViewBag.Title = "Albums";
}


<button class="btn-add">
    @Html.ActionLink("Add Album", "Create")
</button>

<table class="table text-light">
    <tr>
        <th>
            <p>@Html.DisplayNameFor(model => model.ImageFilePath)</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtistID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>
    @foreach (var album in Model)
    {
        <tr>
            <td>
                <img src="/MuseConfig/AlbumArt/@Path.GetFileName(album.ImageFilePath)" alt="Album art for @album.Title">
            </td>
            <td>
                <p class="mt-4">@Html.ActionLink(album.Title, "Details", new { id = album.AlbumID, style = "color: white; text-decoration: none;" })</p>
            </td>
            <td>
                <p class="mt-4">@Html.ActionLink(album.ArtistID, "Details", "Artist", new { id = album.ArtistID, style = "color: white; text-decoration: none;" })</p>
            </td>
            <td>
                <p class="mt-4">
                    @Html.ActionLink("Edit", "Edit", new { id = album.AlbumID }) |
                    @Html.ActionLink("Details", "Details", new { id = album.AlbumID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = album.AlbumID })
                </p>
            </td>
        </tr>
    }

</table>
