@model Muse3.Controllers.AlbumDetailsViewModel

@{
    ViewBag.Title = "Details";
    int charLimit = 30;
}

<div class="px-3">
    <div class="d-flex">
        <div class="your-element" data-tilt>
            @if (Model.album.Title.Equals("Unknown") || Model.album.Title.Equals("None"))
            {
                <img style="width: 200px; height: 200px; border-radius: 10px;" src="~/Images/defaultAlbumImage.png" />
            }
            else
            {
                <img id="album-img-edit" style="width: 200px; height: 200px; border-radius: 10px;" src="@Url.Action("GetAlbumPhoto", "Helper", new { albumID = Model.album.AlbumID })" alt="Art for @Model.album.Title by @Model.album.ArtistID." />
                @*<img style="width: 200px; height: 200px; border-radius: 10px;" onclick="openFileDialog()" id="album-img-edit" src="/MuseConfig/AlbumArt/@Path.GetFileName(Model.album.ImageFilePath)" alt="Album art for @Model.album.Title">*@
            }
        </div>
        <div class="px-3">
            <h2>@Model.album.Title</h2>
            @if (Model.album.Title.Equals("Unknown") || Model.album.Title.Equals("None"))
            {
                <h3>Unknown</h3>
                <h4>Unknown</h4>
                <h4>No description.</h4>
            }
            else
            {
                <h3>@Model.album.ArtistID</h3>
                <h4>@Model.album.YearReleased</h4>
                <h4>@Model.album.Description</h4>
            }
        </div>
    </div>

    <div class="d-flex pt-2">
        @if (!(Model.album.Title.Equals("Unknown") || Model.album.Title.Equals("None")))
        {
            <button class="btn-add mx-3" onclick="window.location.href='@Url.Action("Edit", "Album", new { id = Model.album.AlbumID })'">
                Edit Album
            </button>
        }
    </div>

    @if (Model.songs.Count > 0)
    {
    <div class="pt-2">
        <table id="table-playlist-songs" class="table text-white bg-dark-transparent">
            <tr class="text-nowrap fw-bold">
                <th>
                    Album Art
                </th>
                <th>
                    Track
                </th>
                <th>
                    Title
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Album
                </th>
                <th>
                    Plays
                </th>
            </tr>
            @{
                int trackNumber = 0;
            }
            @foreach (var song in Model.songs)
            {
                <tr class="playlist-table">
                    <td class="playlist-table-border">
                        <img id="album-img" class="album-img list-album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(song.ImageFilePath)" alt="Album art" data-songid="@song.SongID">
                        <button id="library-play-button" class="library-play-button list-view-library-play-button">
                            <img id="library-play-img" src="~/Images/play.png" />
                        </button><br />
                        <audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(song.Mp3FilePath)" data-audio-songid="@song.SongID"></audio>
                    </td>
                    @{
                        trackNumber += 1;
                    }
                    <td>
                        <p class="mt-4"> @trackNumber</p>
                    </td>
                    @{
                        string title = song.Title.Length >= charLimit ? song.Title.Substring(0, charLimit) + "..." : song.Title;
                        string album = song.Album.Length >= charLimit ? song.Album.Substring(0, charLimit) + "..." : song.Album;
                        string artist = song.Artist.Length >= charLimit ? song.Artist.Substring(0, charLimit) + "..." : song.Artist;
                    }
                    <td>
                        <a class="mt-4" href="@Url.Action("Details", "Song", new { id = song.SongID })">
                            <p class="mt-4">@title<img class="explicit-white" src="~/Images/explicit.png" /></p>
                        </a>
                    </td>
                    <td>
                        <p class="mt-4">
                            <a class="mt-4" href="@Url.Action("Details", "Artist", new { id = song.Artist })">
                                @artist
                            </a>
                        </p>
                    </td>
                    <td>
                        <p class="mt-4">
                            <a href="@Url.Action("Details", "Album", new { albumTitle = song.Album, artistID = song.Artist })">
                                @album
                            </a>
                        </p>
                    </td>
                    <td>
                        <p class="mt-4">@song.Plays</p>
                    </td>
                </tr>
         }
        </table>
    </div>
    }
    else
    {
        <h1 class="mt-5">No songs have added to this album yet.</h1>
    }
</div>
<div class="pt-5"></div>

