@model Muse3.Controllers.AlbumDetailsViewModel

@{
    ViewBag.Title = "Details";
    ViewBag.Hero = "Album";
    int charLimit = 30;
}

<div class="px-3">
    <div class="d-flex">
        <div class="your-element" data-tilt>
            <img style="width: 200px; height: 200px; border-radius: 10px;" onclick="openFileDialog()" id="album-img-edit" src="/MuseConfig/AlbumArt/@Path.GetFileName(Model.album.ImageFilePath)" alt="Album art">
        </div>
        <div class="px-3">
            <h2>@Model.album.Title</h2>
            <p>Description: @Model.album.Description</p>
        </div>
    </div>

    <button class="btn-add">
        Add Song
    </button>
    <div>
        <table id="table-playlist-songs" class="table text-white bg-dark-transparent">
            <tr class="text-nowrap fw-bold">
                <th>
                    Album Art
                </th>
                <th style="text-align: center;">
                    Title
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Album
                </th>
                <th>
                    Year Released
                </th>
                <th>
                    Genre
                </th>
                <th>
                    Plays
                </th>
            </tr>
            @foreach (var song in Model.songs)
            {
                <tr class="playlist-table">
                    <td class="playlist-table-border">
                        <img id="album-img" class="album-img list-album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(song.ImageFilePath)" alt="Album art" data-songid="@song.SongID">
                        <button id="library-play-button" class="library-play-button list-view-library-play-button">
                            <img id="library-play-img" src="~/Images/play.png" />
                        </button><br />
                        <audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(song.Mp3FilePath)" data-audio-songid="@song.SongID"></audio>
                    </td>
                    @{
                        string title = song.Title.Length >= charLimit ? song.Title.Substring(0, charLimit) + "..." : song.Title;
                        string album = song.Album.Length >= charLimit ? song.Album.Substring(0, charLimit) + "..." : song.Album;
                        string artist = song.Artist.Length >= charLimit ? song.Artist.Substring(0, charLimit) + "..." : song.Artist;
                    }
                    <td>
                        <p class="mt-4">@title<img class="explicit-white" src="~/Images/explicit.png" /></p>
                    </td>
                    <td>
                        <p class="mt-4">@Html.ActionLink(@artist, "Details", "Artist", new { id = song.Artist, style = "color: white; text-decoration: none;" })</p>
                    </td>
                    <td>
                        <p class="mt-4">@Html.ActionLink(@album, "Details", "Album", new { id = song.Album, style = "color: white; text-decoration: none;" })</p>
                    </td>
                    <td>
                        <p class="mt-4">@song.YearReleased</p>
                    </td>
                    <td>
                        @*@song.Genre*@
                    </td>
                    <td>
                        <p class="mt-4">@song.Plays</p>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="pt-5"></div>

