@model DataObjects.Album

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="d-flex justify-content-center">
        <div class="form-group">
            <img id="album-img-edit" style="cursor: pointer; width: 20rem; height: 20rem;" src="/MuseConfig/AlbumArt/defaultAlbumImage.png" />
            <div class="form-group mt-4 text-nowrap">
                Album Art:
                <div class="col-md-10">
                    <input type="file" name="imageFile" class="form-control" accept="image/png" onchange="albumImagePreview(event)" />
                    @Html.ValidationMessageFor(model => model.ImageFilePath, "", new { @class = "text-danger fs-5" })
                </div>
            </div>
        </div>
        <div class="px-3">
            <div class="form-group">
                Title:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mt-3">
                Artist:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ArtistID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ArtistID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mt-3 text-nowrap">
                Year Released:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.YearReleased, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.YearReleased, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group mt-3">
                Description:
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class ="form-group mt-5">
                <input type="submit" value="Save" class="btn bg-purple text-light w-75 fs-5" />
            </div>
        </div>
    </div>
}

<div class="mt-5">
    @Html.ActionLink("All Albums", "Albums")
</div>

<script>
    function openFileDialog() {
        document.getElementById('album-img-edit').click();
    }

    function albumImagePreview(event) {
        var image = document.getElementById('album-img-edit');
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function () {
            image.src = reader.result;
        };

        reader.readAsDataURL(file);
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
