@model IEnumerable<DataObjects.Playlist>

@{
    ViewBag.Title = "ViewAllPlaylists";
    ViewBag.Hero = "Playlists";
}

<button class="btn-add">
    @Html.ActionLink("Create New", "Create")
</button>

<table class="table">
    <tr>
        <th>
            <p>Playlist artwork</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="~/MuseConfig/PlaylistImages/@Path.GetFileName(item.ImageFilePath)" alt="Art for @item.Title playlist." />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PlaylistID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlaylistID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlaylistID })
        </td>
    </tr>
}

</table>
