@model IEnumerable<DataObjects.Playlist>

@{
    ViewBag.Title = "ViewAllPlaylists";
    ViewBag.Hero = "Playlists";
}

<button class="btn-add">
    @Html.ActionLink("Create New", "Create")
</button>

<table class="table">
    <tr>
        <th>
            <p>Playlist artwork</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var playlist in Model)
    {
        <tr>
            <td>
                <img class="img-thumbnail" width="180" height="120" src="@Url.Action("GetPhoto", new { playlist.PlaylistID })" alt="Art for @playlist.Title playlist." />
                @*<img src="~/MuseConfig/PlaylistImages/@Path.GetFileName(item.ImageFilePath)" alt="Art for @item.Title playlist." />*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => playlist.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => playlist.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = playlist.PlaylistID }) |
                @Html.ActionLink("Details", "Details", new { id = playlist.PlaylistID }) |
                @Html.ActionLink("Delete", "Delete", new { id = playlist.PlaylistID })
            </td>
        </tr>
    }

</table>
