@model IEnumerable<DataObjects.Playlist>

@{
    ViewBag.Title = "ViewAllPlaylists";
}

<h2>Playlists</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table bg-dark text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ImageFilePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PlaylistID }) |
            @Html.ActionLink("Details", "Details", new { id = item.PlaylistID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PlaylistID })
        </td>
    </tr>
}

</table>
