@model IEnumerable<DataObjects.Review>

@{
    ViewBag.Title = "Reviews";
    int charLimit = 25;
    var mp3FilePath = "";
    string songID = "";
}

@*card view*@
@if(Model.Count() > 0)
{
<div id="library-grid-view" class="mx-1 row row-cols-lg-10 gap-4">
    @foreach (var review in Model)
    {
        <div class="card album-card" loading="lazy" style="width: 18rem;
                                        height: 18rem;
                                        background-image: url('@Url.Action("GetSongPhoto", "Helper", new { review.ReviewedSong.SongID })'); "
             onclick="window.location.href='@Url.Action("Details", "Review", new { id = review.ReviewID })'">

            @*used as spacer*@
            <a style="display: block; width: 100%; height: 100%;">
            </a>
            <div class="card-body bg-dark text-white">
                <p class="card-title h4 text-nowrap fw-bold">@review.ReviewedSong.Title</p>
                <p class="card-text fw-bold h5">@review.ReviewedSong.Artist</p>
                @{
                    string stars = ""; 
                    for (int i = 0; i < review.Rating; i++)
                    {
                        stars += "⭐";
                    }
                }<br />
                <p class=" card-text fw-bold h5 text-dark">@stars</p>
            </div>
        </div>
}
</div>
}
else {
    <div class="d-flex justify-content-center">
        <div>
            <h1 class="mt-4 text-center">No Reviews yet. <br /><br /> Go to your library, and view a song's details to write a review</h1>
            <button class="btn-generic fs-2" onclick="window.location.href='@Url.Action("Library", "Song")'">Library</button>    
        </div>
    </div>
}

@*table view*@
@*<table class="table text-light">
    <tr class="text-nowrap">
        <th>
            Art
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.Album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.YearReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img id="album-img" class="album-img list-album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(item.ReviewedSong.ImageFilePath)" alt="Album art" data-songid="@item.ReviewedSong.SongID">
                <button id="library-play-button" class="library-play-button list-view-library-play-button">
                    <img id="library-play-img" src="~/Images/play.png" />
                </button><br />
                <audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(item.ReviewedSong.Mp3FilePath)" data-audio-songid="@item.SongID"></audio>
                @{
                    string title = item.ReviewedSong.Title.Length >= charLimit ? item.ReviewedSong.Title.Substring(0, charLimit) + "..." : item.ReviewedSong.Title;
                    string album = item.ReviewedSong.Album.Length >= charLimit ? item.ReviewedSong.Album.Substring(0, charLimit) + "..." : item.ReviewedSong.Album;
                    string artist = item.ReviewedSong.Artist.Length >= charLimit ? item.ReviewedSong.Artist.Substring(0, charLimit) + "..." : item.ReviewedSong.Artist;
                }
            </td>
            <td class="pt-4">
                <p class="text-nowrap">
                    <a class="mt-4" href="@Url.Action("Details", "Song", new { id = item.ReviewedSong.SongID })">
                        @title
                        @if (item.ReviewedSong.Explicit == true)
                        {
                            <img class="explicit-white" src="~/Images/explicit.png" />
                        }
                    </a>
                </p>
            </td>
            <td class="pt-4">
                <a class="mt-4" href="@Url.Action("Details", "Artist", new { id = item.ReviewedSong.Artist })">
                    @artist
                </a>
            </td>
            <td class="pt-4">
                @if (album.Length.Equals(0))
                {
                    <p>Unknown</p>
                }
                else
                {
                    <a class="mt-4" href="@Url.Action("Details", "Album", new { albumTitle = item.ReviewedSong.Album, artistID = item.ReviewedSong.Artist})">
                        @album
                    </a>
                }
            </td>
            <td class="pt-4">
                @Html.DisplayFor(modelItem => item.ReviewedSong.YearReleased)
            </td>
            <td class="pt-4">
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td class="pt-4">
                <button class="delete-button fw-bold text-danger text-danger bg-transparent border-0"
                        data-bs-toggle="modal"
                        data-bs-target="#delete-modal"
                        data-review-id="@item.ReviewID"
                        data-review-name="@item.ReviewedSong.Title">
                    Remove
                </button>
            </td>
        </tr>
    }
</table>*@
