@model IEnumerable<DataObjects.Review>

@{
    ViewBag.Title = "ViewAllReviews";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table bg-dark text-light">
    <tr>
        <th>
            Art
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.Album)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewedSong.YearReleased)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img id="album-img" class="album-img list-album-img" src="/MuseConfig/AlbumArt/@Path.GetFileName(item.ReviewedSong.ImageFilePath)" alt="Album art" data-songid="@item.SongID">
                <button id="library-play-button" class="library-play-button list-view-library-play-button">
                    <img id="library-play-img" src="~/Images/play.png" />
                </button><br />
                <audio controls src="/MuseConfig/SongFiles/@Path.GetFileName(item.ReviewedSong.Mp3FilePath)" data-audio-songid="@item.SongID"></audio>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedSong.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedSong.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedSong.Album)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewedSong.YearReleased)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
            </td>
        </tr>
    }
</table>
