@model IEnumerable<DataObjects.User>

@{
    ViewBag.Title = "ViewAllFriends";
}

<h2>Friends</h2>

<p>
    @Html.ActionLink("Add", "Create")
</p>
<table class="table bg-dark text-light">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageFilePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinutesListened)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img style="width: 100px; height: 100px; border-radius: 50px;" src="~/MuseConfig/ProfileImages/@Path.GetFileName(item.ImageFilePath)" alt="Image of @item.ProfileName" />
        </td>
        <td>
            <p class="mt-4">@Html.DisplayFor(modelItem => item.ProfileName)</p>
        </td>
        <td>
            <p class="mt-4">@Html.DisplayFor(modelItem => item.Email)</p>
        </td>
        <td>
            <p class="mt-4">@Html.DisplayFor(modelItem => item.FirstName)</p>
        </td>
        <td>
            <p class="mt-4">@Html.DisplayFor(modelItem => item.LastName)</p>
        </td>
        <td>
            <p class="mt-4">@Html.DisplayFor(modelItem => item.Active)</p>
        </td>
        <td>
            <p class="mt-4">@Html.DisplayFor(modelItem => item.MinutesListened)</p>
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
        </td>
    </tr>
}

</table>
