<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muse</title>
    <link rel="icon" type="image/png" href="~/Images/museFavIcon.ico">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar sticky-lg-top navbar-expand-lg navbar-dark bg-purple-radial-background">
        <div class="container-fluid">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                <img id="nav-muse-logo" src="~/Images/museV3Logo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li>@Html.ActionLink("Song", "Library", "Song", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Album", "Albums", "Album", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Playlist", "ViewAllPlaylists", "Playlist", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Friends", "ViewAllFriends", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Account", "Details", "Profile", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Controls", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Reviews", "ViewAllReviews", "Review", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Friends", "ViewAllFriends", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Help", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Admin", "ViewAllUsers", "Admin", new { area = "" }, new { @class = "nav-link" })</li>
                    @Html.Partial("_LoginPartial")
                </ul>
                <div class="mt-3">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })">
                        <svg xmlns="http://www.w3.org/2000/svg" width="82" height="80.003" viewBox="0 0 82 80.003">
                            <path id="Subtraction_1" data-name="Subtraction 1" d="M707.491,10526,694,10526a13,13,0,0,1-13-13v-54a13,13,0,0,1,13-13h56a13,13,0,0,1,13,13v54a13,13,0,0,1-13,13H734.517c5.41-.134,9.013-.88,9.013-4.09,0-2.794-2.4-7.061-5.846-10.377a22.217,22.217,0,0,0-15.355-6.519c8.682,0,15.743-8.385,15.743-18.688s-7.062-18.687-15.743-18.687-15.743,8.383-15.743,18.687,7.062,18.688,15.743,18.688l0,0c-7.372,0-12.942,4.468-15.606,7.132-3.953,3.952-6.117,8.346-6.146,10.473-.028,2.189,1.977,3.168,6.919,3.379Zm21.638,0H714.86l.32-.006.161,0c1.95-.034,4.16-.073,6.451-.073,2.045,0,3.968.029,5.828.058l.225,0,1.284.02Z" transform="translate(-681 -10446)" fill="rgba(171,156,209,0.32)" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div>
        <div class="row mx-5">
            <div class="row justify-content-center">
                <div class="col">
                    <br />
                    <h1 class="text-center fw-bold mt-2">@ViewBag.Title</h1>
                    <hr class="hr-underline">
                    <br />
                </div>
            </div>
        </div>
        @RenderBody()
        <footer class="text-center">
            @*<div class="col-10 d-flex justify-content-center my-5">
                <div class="slider-buttons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26.703" height="19.005" viewBox="0 0 26.703 19.005">
                        <path id="Union_10" data-name="Union 10" d="M690.578,10464.9v-2.029l-6.586,3.764A2,2,0,0,1,681,10464.9v-15a2,2,0,0,1,2.992-1.736l6.586,3.764v-2.027a2,2,0,0,1,2.992-1.736l13.124,7.5a2,2,0,0,1,0,3.471l-13.124,7.5a1.994,1.994,0,0,1-2.992-1.734Z" transform="translate(707.704 10466.905) rotate(180)" fill="#fff" />
                    </svg>
                </div>
                <input class="slider" type="range" min="1" max="100" value="50" id="myRange">
                <div class="slider-buttons">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26.703" height="19.005" viewBox="0 0 26.703 19.005">
                        <path id="Union_10" data-name="Union 10" d="M690.578,10464.9v-2.029l-6.586,3.764A2,2,0,0,1,681,10464.9v-15a2,2,0,0,1,2.992-1.736l6.586,3.764v-2.027a2,2,0,0,1,2.992-1.736l13.124,7.5a2,2,0,0,1,0,3.471l-13.124,7.5a1.994,1.994,0,0,1-2.992-1.734Z" transform="translate(-681 -10447.9)" fill="#fff" />
                    </svg>
                </div>
            </div>*@
            <p>&copy; @DateTime.Now.Year - Muse v3.0 - Easton67</p>
        </footer>
    </div>
    <script>
        document.querySelectorAll(".album-img").forEach(function (img) {
            // adding a click event to each image
            img.addEventListener("click", function () {
                // goes to the location of the song/details/songID
                window.location.href = "/Song/Details/" + this.getAttribute("data-songid");
            });
        });

        function listView() {
            document.getElementById("library-grid-view").style.display = "none";
            document.getElementById("library-list-view").style.display = "";
        }

        function gridView() {
            document.getElementById("library-grid-view").style.display = "";
            document.getElementById("library-list-view").style.display = "none";
        }

        document.querySelectorAll(".library-play-button").forEach(function (button) {
            button.addEventListener("click", function () {
                var playorpauseimg = this.querySelector("img");
                if (playorpauseimg.src.endsWith("pause.png")) {
                    // going from the button to the parent div, find the audio and pause it
                    this.parentNode.querySelector("audio").pause();
                    this.parentNode.querySelector("button").querySelector("img").src = "/Images/play.png";
                } else {
                    this.parentNode.querySelector("audio").play();
                    this.parentNode.querySelector("button").querySelector("img").src = "/Images/pause.png";
                }
            });
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
